"*":
  "exception-reporting":
    userId: "d2ef4277-532a-4a55-4567-10b5bedebbfc"
  welcome:
    showOnStartup: false
  core:
    ignoredNames: [
      "*~"
      "*.pyc"
      "*.pyo"
      ".python-version"
    ]
  editor:
    invisibles: {}
    preferredLineLength: 100
    tabLength: 4
  "autocomplete-python":
    extraPaths: "$PROJECT/apps"
  "linter-pylama":
    ignoreErrorsAndWarnings: "D100,D101,D102"
  linter:
    showErrorPanel: false
