"*":
  "atom-ctags": {}
  "autocomplete-python":
    extraPaths: "$PROJECT/apps"
  core:
    disabledPackages: [
      "live-doc-viewer"
      "language-python"
      "file-mode"
      "autocomplete-clang"
      "symbols-view"
      "linter-flake8"
      "atom-jade"
      "rst-preview"
    ]
    ignoredNames: [
      "*~"
      "*.pyc"
      "*.pyo"
      ".python-version"
      "__pycache__"
    ]
  editor:
    fontSize: 10
    invisibles: {}
    preferredLineLength: 100
    tabLength: 4
  "exception-reporting":
    userId: "d2ef4277-532a-4a55-4567-10b5bedebbfc"
  linter:
    showErrorPanel: false
  "linter-clang": {}
  "linter-flake8":
    maxLineLength: 100
  "linter-pylama":
    ignoreErrorsAndWarnings: "D100,D101,D102,D103,E501,D203,D400"
  "live-doc-viewer":
    command1: {}
    command2: {}
    command3: {}
    command4: {}
    command5: {}
  "markdown-preview": {}
  minimap: {}
  "pdf-view": {}
  "python-tools": {}
  "rst-preview": {}
  "rst-preview-pandoc":
    pandocOpts: "-frst -thtml --webtex"
  "spell-check": {}
  tabs:
    usePreviewTabs: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".hyperlink.text":
  editor:
    preferredLineLength: 100
".jade.source":
  editor:
    preferredLineLength: 100
".lisp.source":
  editor:
    preferredLineLength: 100
".nix.source":
  editor:
    preferredLineLength: 100
".python.regexp.source":
  editor:
    preferredLineLength: 100
".python.source":
  editor:
    preferredLineLength: 100
  tabs:
    usePreviewTabs: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
